.admin-header {
    display: inline;
}

.table-width table {
    width: 100%;
}

.tableContainer {
    min-height: 430px;
}

table td.titulo {
    width: 300px;
}

.display-block {
    display: block;
}
