<div class="modal fade" id="modalBook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{!this.bookSelected.id ? 'Nuevo libro' : 'Actualizar libro'}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose(formBook)">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <form name="formBook" #formBook="ngForm" (ngSubmit)="onSaveBook(formBook)">
                    <input type="hidden" name="id" [(ngModel)]="this.bookSelected.id">
                    <input type="hidden" name="userUid" [value]="userUid">
                    <div class="form-group">
                        <label for="titulo">Título:</label>
                        <input type="text" class="form-control" name="titulo" [(ngModel)]="this.bookSelected.titulo" required>
                    </div>
                    <div class="form-row mt-0">
                        <div class="form-group col-md-6">
                            <label for="autor">Autor</label>
                            <input type="text" class="form-control" name="autor" [(ngModel)]="this.bookSelected.autor" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="idioma">Idioma:</label>
                            <select name="idioma" class="form-control" [(ngModel)]="this.bookSelected.idioma" required>
                            <option value="Inglés">Inglés</option>
                            <option value="Español">Español</option>
                            <option value="Portugués">Portugués</option>
                            <option value="Italiano">Italiano</option>
                            <option value="Frances">Francés</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion:</label>
                        <textarea class="form-control" name="descripcion" [(ngModel)]="this.bookSelected.descripcion" required></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="precio">Precio</label>
                            <input type="text" class="form-control" name="precio" placeholder="0,00" [(ngModel)]="this.bookSelected.precio" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="oferta">Oferta:</label>
                            <select name="oferta" class="form-control" [(ngModel)]="this.bookSelected.oferta" required>
                          <option value="1">SI</option>
                          <option value="0">NO</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="portada">Portada</label>
                            <input type="text" class="form-control" name="portada" placeholder="www.example.com/portada.jpg" [(ngModel)]="this.bookSelected.portada" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="link_amazon">Link Amazon</label>
                            <input type="text" class="form-control" name="link_amazon" placeholder="www.amazon.com/book" [(ngModel)]="this.bookSelected.link_amazon" required>
                        </div>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isError">
                        <p class="alertFont">¡Debes completar todos los campos!</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onCloseAlert()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnClose (click)="onClose(formBook)">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar libro</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
